* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --background-color: rgb(22, 22, 22);
    --primary-color: #05472a;
    --secondary-color: #026239; 
}

body {
    background: var(--background-color);
    min-height: 100vh;
}

/* desktop code */
@media screen and (min-width:750.1px) {

.openbgr {
    display: none;
}

.sidenav {
    display: none;
}

    /* main bar style */
header {
    background-color: #000;
    min-width: 100%;
    border-bottom: 1.5px solid var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 30px 30px;
    z-index: 10000;
}

header a{
    float: left;
    padding-right: 0.5em;
    text-align: center;
    text-decoration: none;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.active {
    color: var(--primary-color);
}

header.sticky {
    padding: 2px 50px;
    opacity: 25%;
}

header.sticky:hover {
    opacity: 1;
    transition: 0.5s;
}

/* Silas logo */
header .logo {
    float: left;
    max-width: 4rem;
    max-height: 4rem;
    min-height: 4rem;
    min-width: 4rem;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

header ul li{
    margin: 0 12px;
    list-style: none;
    padding-bottom: 0.3em;
    display: inline-block;
    transition: 0.7s;
    position: relative;
}

/* grey out words on nav bar when hovering*/
header ul li:hover{
    opacity: 65%;
}

/* green underline when hovering */
header ul li::after {
    content: '';
    min-height: 2px;
    width: 0;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.45s;
}

/* draw green across */
header ul li:hover::after {
    width: 100%;
}
    /* main bar style */

.request_text {
    color: var(--secondary-color);
    padding-top: 18vh;
    padding-bottom: 1.8em;
    padding-left: 25%;
    padding-right: 0;
    min-width: 100%;
    font-size: 30pt;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.subsec {
    padding-left: 10em;
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 50%;
}

.subtext {
    padding-top: 5em;
}

.subsec h2{
    color: white;
    font-weight: 300;
    letter-spacing: normal;
    padding-top: 1em;
    padding-bottom: 1em;
}

.subsec h3 {
    color: white;
    font-weight: 200;
    letter-spacing: normal;
    padding-top: 1em;
    padding-bottom: 1em;
}

.subimage {
    position: relative;
    padding-left: 8em;
    padding-bottom: 4em;
    flex: 1;
}

.gen_img {
    border-radius: 50%;
    max-height: 550px;
    min-height: 400px;
    width: auto;
    object-fit: cover;
    object-position: 50% 50%;

}

    /* Button Code */
button {
    min-width: 230px;
    min-height: auto;
    padding: 16px 0;
    text-align: center;
    margin: 20px 20px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 13pt;
    background: var(--secondary-color);
    border: 1.5px solid var(--primary-color);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

span {
    background: var(--primary-color);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.45s;
}

button:hover span {
    width: 100%;
}

button:hover {
    /* border: none; */
    opacity: 85%;
}
/* Button Code */

.form-container .btn {
    min-width: 150px;
    min-height: auto;
    align-self: center;
    text-align: center;
    margin: 20px 2em 0.3em 30%;
    border-radius: 25px;
    font-weight: bold;
    font-size: 13pt;
    background: var(--secondary-color);
    border: 1.5px solid var(--primary-color);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    animation: fade-in 1.3s ease forwards;
}

.btn:hover span {
    width: 100%;
}

.btn:hover {
    /* border: none; */
    opacity: 85%;
}

.btn span {
    background: var(--primary-color);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.45s;
}

/* Form code */
.container{
    width: 100%;
    padding-left: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.popup {
    position: absolute;
    width: 100%;
    max-width: 45em;
    bottom: 0.2rem;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--background-color);
}

.popup-overlay {
	background-color: var(--background-color);
	width: 100%;    
	position: absolute;
}

.main-popup {
	position: absolute;
	left: 1em;
    width: 100%;
	z-index: 10;
	background: var(--background-color);
	padding: 30px 20px;
	line-height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-100%);
}

.form-container h1 {
    color: white;
    text-align: left;
    font-weight: 200;
    padding-bottom: 0.5em;
}


.form-container input[type=text], .form-container input[type=name] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    color: white;
    background: var(--background-color);
    border: 1px solid var(--background-color);
    border-bottom: 2px solid white;
}

.form-container input[type=text]:focus, .form-container input[type=name]:focus {
    background-color: var(--background-color);
    /* outline: none; */
}

input:focus::-webkit-input-placeholder {
    color: var(--secondary-color);
    position: absolute;
    pointer-events: none;
    bottom: 2.2em;
    transition: 0.6s ease all;
}

.form-container textarea{
    background: var(--background-color);
    color: white;
    border: 1px solid var(--background-color);
    border-bottom: 2px solid white;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 0.5em;  
}

.form-container .btn_cancel {
    color: var(--secondary-color);
    text-decoration: underline;
    position: relative;
    align-items: center;
    cursor: pointer;
    transition: 0.7s ease all;
}

.form-container .btn:disabled{
    background: grey;
    cursor:default;
    animation: fade-out 1.3s ease forwards;
}

.form-container .btn:disabled:hover span {
    width: 0;
}

.form-container .btn_cancel:hover {
    color: var(--primary-color);
}
/* Form code */

}
   
/* mobile code */
@media screen and (max-width:750px) {
    
header {
    display: none;
}
.openbgr {
    font-size: 26pt;
    cursor: pointer;
    z-index: 100000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.opensec {
    top: 0;
    left: 0;
    position: fixed;
    padding-bottom: 3em;
    padding-right: 2.2em;
    background: rgb(0, 0, 0);
    border-radius: 0.1em;
}

.opensec:active {
    opacity: 75%;
}

.opensec.sticky {
    opacity: 90%;
}

.opensec.sticky:active {
    opacity: 1;
    transition: 0.5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.75rem;
}
    
.sidenav a {
    padding: .5em .5em .5em 2em;
    text-decoration: none;
    font-size: 19pt;
    color: #f2f2f2;
    display: block;
    transition: 0.4s;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.sidenav .active {
    color: var(--primary-color);
}
    
.sidenav a:active {
    opacity: 90%
}
    
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 27pt;
    margin-left: 3.13em;
}

.request_text {
    color: var(--secondary-color);
    padding-top: 10vh;
    padding-bottom: 1em;
    padding-left: 20%;
    padding-right: 0;
    font-size: 28pt;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display:inline-block;
    flex-direction: column;
}

.subsec {
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    display: inline-block;
    flex-direction: column;
    flex-basis: 50%;
}

.subtext {
    padding-top: 2em;
}

.subsec h2{
    color: white;
    font-size: 14pt;
    font-weight: 300;
    letter-spacing: normal;
    padding-top: 1em;
    padding-bottom: 1em;
}

.subsec h3 {
    font-size: 13pt;
    color: white;
    font-weight: 200;
    letter-spacing: normal;
    padding-top: 1em;
    padding-bottom: 1em;
}

.subimage {
    position: relative;
    padding-left: 1em;
    padding-bottom: 1em;
    flex: 1;
}

.gen_img {
    position: relative;
    border-radius: 50%;
    height: auto;
    width: 100%;
    max-width: 300px;
    min-width: 100px;
}
    
    /* Button Code */
button {
    min-width: 230px;
    min-height: auto;
    padding: 16px 0;
    text-align: center;
    margin: 20px 20px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 13pt;
    background: var(--secondary-color);
    border: 1.5px solid var(--primary-color);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

span {
    background: var(--primary-color);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.45s;
}

button:active span {
    width: 100%;
}

button:active {
    /* border: none; */
    opacity: 85%;
}
/* Button Code */

.form-container .btn {
    min-width: 150px;
    min-height: auto;
    align-self: center;
    text-align: center;
    margin: 20px 2em 0.3em 20%;
    border-radius: 25px;
    font-weight: bold;
    font-size: 13pt;
    background: var(--secondary-color);
    border: 1.5px solid var(--primary-color);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    animation: fade-in 1.3s ease forwards;
}

.btn:active span {
    width: 100%;
}

.btn:active {
    /* border: none; */
    opacity: 85%;
}

.btn span {
    background: var(--primary-color);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.45s;
}

/* Form code */
.container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.popup {
    position: absolute;
    width: 85%;
    max-width: 45em;
    bottom: 0.2rem;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--background-color);
}

.popup-overlay {
	background-color: var(--background-color);
	width: 100%;    
	position: absolute;
}

.main-popup {
	position: absolute;
	left: 1em;
    width: 100%;
	z-index: 10;
	background: var(--background-color);
	padding: 30px 20px;
	line-height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-100%);
}

.form-container h1 {
    color: white;
    text-align: left;
    font-weight: 200;
    padding-bottom: 0.5em;
}


.form-container input[type=text], .form-container input[type=name] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    color: white;
    background: var(--background-color);
    border: 1px solid var(--background-color);
    border-bottom: 2px solid white;
}

.form-container input[type=text]:focus, .form-container input[type=name]:focus {
    background-color: var(--background-color);
    /* outline: none; */
}

input:focus::-webkit-input-placeholder {
    color: var(--secondary-color);
    position: absolute;
    pointer-events: none;
    bottom: 2.2em;
    transition: 0.6s ease all;
}

.form-container textarea{
    background: var(--background-color);
    color: white;
    border: 1px solid var(--background-color);
    border-bottom: 2px solid white;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 0.5em;  
}

.form-container .btn_cancel {
    color: var(--secondary-color);
    text-decoration: underline;
    position: relative;
    align-items: center;
    cursor: pointer;
    transition: 0.7s ease all;
}

.form-container .btn:disabled{
    background: grey;
    cursor:default;
    animation: fade-out 1.3s ease forwards;
}

.form-container .btn:disabled:hover span {
    width: 0;
}

.form-container .btn_cancel:hover {
    color: var(--primary-color);
}
/* Form code */

}

.gen_main {
    font-family: Arial;
    overflow-y: hidden;
    display: flex;
}

@keyframes slide-in {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}
@keyframes fade-in {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}