*{
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #000;
    --background-main: white;
    --primary-color: #05472a;
    --secondary-color: #026239;
    --pfp-color: #022a19;
}

body {
    background-color: var(--background-main);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
}

/* desktop code */

@media screen and (min-width:750.1px) {

    .openbgr {
        display: none;
    }
    
    .sidenav {
        display: none;
    }
    
        /* main bar style */
    header {
        background-color: var(--background-color);
        min-width: 100%;
        border-bottom: 1.5px solid var(--primary-color);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        padding: 30px 36px;
        z-index: 10000;
    }

    header ul {
        margin-right: 3.5em;
    }
    
    header a{
        float: left;
        padding-right: 0.5em;
        text-align: center;
        text-decoration: none;
        color: #f2f2f2;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }
    
    .active {
        color: var(--secondary-color);
    }
    
    header.sticky {
        padding: 2px 50px;
        opacity: 25%;
    }
    
    header.sticky:hover {
        opacity: 1;
        transition: 0.5s;
    }
    
    /* Logo */
    header .logo {
        float: left;
        max-width: 4rem;
        max-height: 4rem;
        min-height: 4rem;
        min-width: 4rem;
        cursor: pointer;
        position: relative;
        transition: 0.5s;
    }
    
    header ul li{
        margin: 0 12px;
        list-style: none;
        padding-bottom: 0.3em;
        display: inline-block;
        transition: 0.7s;
        position: relative;
    }
    
    /* grey out words on nav bar when hovering*/
    header ul li:hover{
        opacity: 65%;
    }
    
    /* green underline when hovering */
    header ul li::after {
        content: '';
        min-height: 2px;
        width: 0;
        background: var(--primary-color);
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: 0.45s;
    }
    
    /* draw green across */
    header ul li:hover::after {
        width: 100%;
    }

    .card_face--front h2 {
        color: var(--background-main);
        font-size: 1.6em;
        position: absolute;
        opacity: 0;
    }

    .card_inner:hover {
        transform: rotateY(180deg);
        transition-delay: 0.6s;
    }

    .card_inner_2:hover {
        transform: rotateY(180deg);
        transition-delay: 0.6s;
    }

    .card_inner_3:hover {
        transform: rotateY(180deg);
        transition-delay: 0.6s;
    }

    }

/* mobile code */

@media screen and (max-width:750px) {

    header {
        display: none;
    }
    .openbgr {
        font-size: 26pt;
        cursor: pointer;
        z-index: 100000;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
    }

    .opensec {
        top: 0;
        left: 0;
        position: fixed;
        padding-bottom: 3em;
        padding-right: 2.2em;
        background: var(--background-color);
        border-radius: 0.1em;
    }

    .opensec:active {
        opacity: 75%;
    }

    .opensec.sticky {
        opacity: 90%;
        z-index: 100000;
    }

    .opensec.sticky:hover {
        opacity: 1;
        transition: 0.5s;
    }
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100000;
        top: 0;
        left: 0;
        background-color: var(--background-color);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 3.75rem;
        }
        
    .sidenav a {
        padding: .5em .5em .5em 2em;
        text-decoration: none;
        font-size: 19pt;
        color: #f2f2f2;
        display: block;
        transition: 0.4s;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
        }

    .sidenav .active {
        color: var(--secondary-color);
        }

    .sidenav a:hover {
        opacity: 65%
        }
        
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 27pt;
        margin-left: 3.13em;
        }

    .card_face--front h2 {
        color: var(--background-main);
        font-size: 1.6em;
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        text-align: center;
        vertical-align: middle;
    }

    .card_inner.is-flipped {
        transform: rotateY(180deg);
    }

    .card_inner_2.is-flipped {
        transform: rotateY(180deg);
    }

    .card_inner_3.is-flipped {
        transform: rotateY(180deg);
    }
        
}

.team {
    background: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.team h1 {
    color: var(--primary-color);
    position: relative;
    padding-top: 3.5em;
    padding-bottom: 2em;
    text-transform: none;
    text-align: center;
    font-size: 44px;
    font-weight: bolder;
} 

.card {
    margin: 100px auto 0;
    width: 22rem;
    height: 22rem;
    perspective: 900px;
}

.card_2 {
    margin: 100px auto 0;
    width: 22rem;
    height: 22rem;
    perspective: 900px;
}

.card_3 {
    margin: 100px auto 0;
    width: 22rem;
    height: 22rem;
    perspective: 900px;
}

.card_inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card_inner_2 {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card_inner_3 {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card_face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 50%;
    border-color:var(--primary-color);
    box-shadow: 0px 0px 20px var(--primary-color); 
}

.card_face--front {
    background-color: var(--pfp-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_face--back {
    background-color: var(--background-main);
    transform: rotateY(180deg);
}

.card_content {
    width: 100%;
    height: 100%;
}

.pfp {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--pfp-color);
    border: 3px solid var(--pfp-color);
    object-fit: cover;
}

.card_body {
    padding: 30px;
}

.card_body p {
    color: var(--background-color);
    text-align: center;
    padding: 8% 15%;
    font-size: 9.5pt;
    font-weight: 400;
}

.partner_name {
    text-decoration: none;
    text-shadow: none;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: var(--primary-color);
}
.partner_title {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: rgb(27, 27, 27);
    padding-bottom: 20px;
}
